
\.DS_Store

Report/Report\.aux

*.eps

Report/Report\.bbl

Report/Report\.blg

Report/Report\.dvi

Report/Report\.log

Report/Report\.out

Report/Report\.synctex\.gz

debug\.txt

Report/Methods\.log

Report/imgs/odocam_3-eps-converted-to\.pdf

Report/imgs/odocam_4-eps-converted-to\.pdf

Report/imgs/odocam_2-eps-converted-to\.pdf

Report/imgs/odocam_1-eps-converted-to\.pdf

*.m~

Report/imgs/recostropt_4-eps-converted-to\.pdf

Report/imgs/recostropt_3-eps-converted-to\.pdf

Report/imgs/recostropt_2-eps-converted-to\.pdf

Report/imgs/recostropt_1-eps-converted-to\.pdf

Report/imgs/odometric_4-eps-converted-to\.pdf

Report/imgs/odometric_3-eps-converted-to\.pdf

Report/imgs/odometric_2-eps-converted-to\.pdf

Report/imgs/odometric_1-eps-converted-to\.pdf

Report/imgs/boxplot-eps-converted-to\.pdf

*.log

*.pyg
